* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,body {
  width: 100%;
  height: 100%;
}

.page {
  width: 600px;
  min-height: 74%;

  box-sizing: content-box;
  padding: 80px -webkit-calc(50% - 300px);
  padding: 80px -moz-calc(50% - 300px);
  padding: 80px calc(50% - 300px);
  padding-bottom: 0;

  display: none;

  &.visible {
    display: block;
  }
}

@import "theme";
@import "theme-pages";
@import "media";