.cover {
    margin-top: 150px;
    margin-bottom: 150px+$margin-l;
}

.index {
    &:before {
        display: none;
    }

    table {
        width: 100%;
        display: table;

        &:before {
            display: none;
        }

        th,td {
            padding: 0;
            border: none;
        }

        tr {
            td {
                padding-bottom: $margin-xs;
                &:last-child {
                    text-align: right;
                }
            }
            &:last-child td {
                padding-bottom: 0;
            }
        }
    }
}