.cover {
    margin-top: 200px;
    min-height: 52%;
}

.index {
    &:before {
        display: none;
    }

    table {
        width: 100%;
        display: table;

        th,td {
            padding: 0;
            border: none;
        }

        tr {
            td {
                padding-bottom: $margin-xs;
                &:last-child {
                    text-align: right;
                }
            }
            &:last-child td {
                padding-bottom: 0;
            }
        }
    }
}