.cover {
    padding-top: 240px;
    min-height: 52%;
}

.index {
    table {
        width: 100%;

        tr {
            td {
                padding-bottom: $margin-xs;
                &:last-child {
                    text-align: right;
                }
            }
            &:last-child td {
                padding-bottom: 0;
            }
        }
    }
}